<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
        <meta name="description" content="My blog about my journey with Astro" />
        <meta name="generator" content={Astro.generator} />

		<title>Blog</title>
	</head>
	<body>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/blog">Blog</a>
		<h1>Blog</h1>
        <h2>My First Blog Post</h2>
        <p>This is my first blog post. I'm excited to share my thoughts and ideas with you!</p>
        <p>I'm learning Astro, and I'm loving it! It's a great way to build websites quickly and efficiently.</p>
        <p>I'm also learning about SEO, and I'm excited to see how it can help my website rank higher in search engines.</p>
        
        <ul>
            <li><a href="/posts/post-1/">Post 1</a></li>
            <li><a href="/posts/post-2/">Post 2</a></li>
            <li><a href="/posts/post-3/">Post 3</a></li>
        </ul>
	</body>
</html>

